langchain
langchain-core
langchain-community
pypdf
pymupdf
pandas
numpy
praw
feedparser
requests
tqdm
jupyter
lxml_html_clean
langchain_text_splitters
sentence_transformers
sentence-transformers 
huggingface_hub
faiss-cpu